*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: none;
}

body,
html
{
    width: 100%;
    min-height: 100vh;
    background: #151617;
    overflow-x: none;
}

header.left-header
{
    position: fixed;
    left: -100%;
    top: 0;

    width: 25vw;
    height: 100vh;

    background: #202122;
    transition: .5s;

}

header.left-header div.socials
{
    width: 100%;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

header.left-header div.socials img.social
{
    width: 35px;
    height: 35px;
    transition: .3s;
    cursor: pointer;
}

header.left-header div.socials img.social.rounded
{
    border-radius: 50%;
}

header.left-header div.socials img.social:hover
{
    transform: scale(1.1);
}

header.left-header.open
{
    left: 0;
}

header.left-header h1.title
{
    margin-top: 15px;
    width: 100%;
    height: 50px;
    color: #fff;
    padding: 20px 35px;
    font-family: "Roboto";
    letter-spacing: 1px;
    font-size: 22px;
    font-weight: 500;
}
header.left-header ul.header-options
{
    width: 100%;
    height: 80%;
    list-style: none;
    padding: 20px;
}

header.left-header ul.header-options li.option
{
    width: 100%;
    min-height: 35px;
    display: block;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    padding: 15px;
    color: #999;
    font-family: "Roboto";
    border-radius: 15px;
    font-weight: 400;
    transition: .2s;
    cursor: pointer;
}

header.left-header ul.header-options li.option:hover
{
    color: #fff;
    background: rgba(255, 255, 255, 0.02);
}

header.left-header ul.header-options li.option.button
{
    width: 100%;
    min-height: 35px;
    display: block;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    padding: 15px;
    color: #fff;
    background: #505DF0;
    border: 2px solid #505DF0;
    font-family: "Roboto";
    border-radius: 15px;
    font-weight: 400;
    transition: .2s;
    cursor: pointer;
}

header.left-header ul.header-options li.option.button:hover
{
    background: transparent;
    color: #505DF0;
}

header.left-header ul.header-options li.option.browse
{
    cursor: default;
}

header.left-header ul.header-options li.option.browse #browser
{
    background: none;
    border: none;
    color: #fff;
    font-family: "Roboto";
    height: 100%;
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
    outline: none;
}

header.left-header div.close-panel
{
    width: 50px;
    height: 50px;
    color: #999;
    position: absolute;
    top: 40px;
    left: 21vw;
    cursor: pointer;
    transition: .3s;
}

header.left-header div.close-panel:hover
{
    color: #fff;
}

.open-header
{
    color: #fff;
    width: 50px;
    aspect-ratio: 1 1;
    margin: 25px;
    position: absolute;
    transform: scale(1.1);
    cursor: pointer;
}

.video-container{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
      
.video-container video {
    width: 100%;
    height: 100%;
}